* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.mainpage {
    background: linear-gradient(to bottom, rgba(179, 0, 0, 0.5), rgba(179, 0, 0, 0.7)), url(images/BankOfSpain.jpeg);
    font-family: 'Anton', sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.heading {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 3.5rem;
}

.heading span {
    background-color: #b30000;
    font-size: 2.5rem;
    padding: 0 .5rem;

}

.origamis img {
    mix-blend-mode: multiply;
}

.origamis .xv-1 {
    transform: rotateZ(-15deg);
    width: 30rem;
}

.origamis .xv-2 {
    transform: rotateZ(-30deg) rotateY(180deg) translate(-60rem, 40rem);
    width: 20rem;
}

.origamis .xv-3 {
    width: 15rem;
    height: 5rem;
    top: 0;
    left: 0;
    transform: translate(0, -20.5rem);
}

.origamis .xv-4 {
    width: 15rem;
    height: 6rem;
    transform: translate(-5rem, -19rem);
}

.board {
    width: 37rem;
    aspect-ratio: 1;
    background-color: rgba(0, 0, 0, 0.8);
    border: .5rem solid #fff;
    margin: -15rem auto;
    display: flex;
    flex-wrap: wrap;
}

.board img {
    width: 8.8rem;
    height: 8.8rem;
    border: 0.1rem solid #fff;
    margin: .1rem;
}

.play button {
    color: #fff;
    background: none;
    width: 8rem;
    height: 5rem;
    background-color: black;
    border: .5rem solid #777;
    border-radius: 1.5rem;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    transform: translate(30rem, -20rem);
    cursor: pointer;
}
.play button:hover{
    color: #000;
    background-color: #fff;
    transition: .2s;
}
.play .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.play h3 {
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    /* display: flex;
    justify-content: space-between; */
    transform: translate(90rem, -25rem);
    margin-top: 2rem;
}